.list{
    max-height: 150px;
    overflow-y: scroll;
    border-radius: 8px;
}
.AddForm_label{
    font-size: 0.8rem;
}
.form_headers{
    color: #212245;
    background-color: rgb(255, 207, 207);
    padding: 4px 8px;
    border-radius: 8px;
}
::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }